*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --main: #ecc6d9;
  --sub: #e0a7bd;
  --third: #ca78a1;
  --light-blue: #99cceb;
  --blue: rgb(20, 171, 221);
  --transition: all 0.3s ease-in-out;
}

img {
  object-fit: cover;
}

section,
footer {
  text-align: center;
  padding-top: 2rem;
}

h2 {
  font-size: 3rem;
  /* margin-bottom: 3rem; */
}

body {
  color: #fff;
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body::selection {
  background-color: var(--main);
  color: #fff;
}

.hero {
  height: 90vh;
  background-image: url(https://images.unsplash.com/photo-1462275646964-a0e3386b89fa?q=80&w=1228&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  padding-top: 4rem;
}

.hero h1 {
  font-size: 5rem;
  text-shadow: 5px 5px 0px var(--third);
}

.hero p {
  font-size: 1.2rem;
  text-shadow: 2px 2px 0px var(--third);
  margin-bottom: 3rem;
}

.hero button {
  width: 150px;
  padding: 20px 10px;
  border-radius: 10px;
  border: none;
  transition: var(--transition);
  margin-left: 2rem;
  font-size: 1.1rem;
  text-transform: capitalize;
}

.hero button:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 5px var(--sub);
}

.hero .start {
  background-color: var(--sub);
  color: #fff;
}

.hero .view {
  border: 3px solid var(--light-blue);
  color: #fff;
  background-color: transparent;
}

.cards {
  padding-inline: 3rem;
  background-color: var(--sub);
}

.card {
  display: inline-block;
  position: relative;
  top: -5rem;
  width: 30%;
  margin-left: 2rem;
  padding: 1rem;
  text-align: center;
  min-height: 24rem;
  vertical-align: top;
}

.card::selection {
  background-color: var(--third);
}

.card i {
  font-size: 2rem;
  display: inline-block;
  margin-block: 1rem;
}

.card:not(.card:nth-child(2)) {
  background-color: var(--main);
  border-radius: 20px;
}

.card:nth-child(2) {
  background-image: linear-gradient(
    45deg,
    var(--blue) 0%,
    var(--third) 50%,
    var(--light-blue) 100%
  );
  padding: 1rem;
}

.card:nth-child(2) .border {
  background-color: var(--main);
  padding: 1rem;
}

.card img {
  width: 100%;
  height: 10rem;
  border-radius: 20px;
}

.features {
  padding-inline: 3rem;
  background-color: var(--sub);
}

.features h2 {
  margin-bottom: 3rem;
}

.features-item {
  width: 45%;
  height: 20rem;
  margin-left: 3rem;
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.features-item img {
  width: 100%;
  height: 100%;
  transition: var(--transition);
}

.f1::before,
.f2::before {
  background-color: #e0a7bd77;
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding-top: 25%;
  font-size: 2rem;
  text-transform: capitalize;
  opacity: 0;
  transition: var(--transition);
}

.f1::before {
  content: "romantic roses";
}

.f2::before {
  content: "moonlight gardens";
}

.f1:hover img {
  transform: scale(1.05);
}

.f1:hover::before {
  opacity: 1;
}

.f2:hover img {
  transform: scale(1.05);
}

.f2:hover::before {
  opacity: 1;
}

.experts {
  background-color: var(--sub);
}

.experts p {
  margin-bottom: 2rem;
}

.g1,
.g2,
.boy {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
  padding: 0.4rem;
  margin-left: 2rem;
  transition: var(--transition);
}
.g1:hover,
.g2:hover,
.boy:hover {
  transform: translateY(-10px);
}

.g1,
.g2 {
  border: 5px solid var(--blue);
}

.boy {
  background-image: linear-gradient(
    45deg,
    var(--main) 0%,
    var(--main) 30%,
    var(--blue) 100%
  );
}

.g1 img,
.g2 img,
.boy img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  margin-bottom: 20px;
}

.boy img {
  border: 5px solid var(--sub);
}

.experts .jop {
  color: var(--blue);
}

.experts,
footer {
  padding-bottom: 3rem;
}

footer {
  background-color: var(--third);
}

footer .border {
  margin: auto;
  width: 60%;
  background-image: linear-gradient(
    45deg,
    var(--light-blue),
    var(--sub),
    var(--blue)
  );
  padding: 1rem;
}

.footer-card h2 {
  margin-bottom: 0.5rem;
}

.footer-card {
  padding: 2rem 1rem;
  background-color: var(--main);
}

.footer-card p {
  margin-bottom: 1.3rem;
}

.footer-card input {
  width: 300px;
  padding: 20px 10px;
  border: none;
  border-radius: 10px;
  color: var(--third);
}

.footer-card input::placeholder {
  color: var(--main);
}

.footer-card input:hover {
  border: none;
}

.footer-card button {
  padding: 15px 20px;
  color: var(--blue);
  background-color: var(--blue);
  border: none;
  margin-left: 1.4rem;
  color: #fff;
  border-radius: 10px;
  transition: var(--transition);
}

.footer-card button:hover {
  border: 3px solid var(--blue);
  color: var(--blue);
  background-color: transparent;
}
